/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
	flex-direction: column;
	justify-content: center;
	align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  backdrop-filter: blur(8px);
}

@media screen {
  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;

	min-width: 600px;
	max-width: 1200px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 16px 32px;
  background-color: #94ba8a;
  color: white;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	font-size: 28px;
	font-weight: 500px;
	line-height: 36px;
	letter-spacing: 0.02em;
	text-decoration: none;
	font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.modal-text {
	font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0.02em;
}

.modal-body {
	padding: 32px 64px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 32px;
	overflow: auto;
	max-height: 80vh;
}