.section {
    height: fit-content;
    padding: 32px 0;
    scroll-margin-top: 64px;
    align-items: center;
}

.section-header {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.section-header-spacer {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

.section-header-content {
    min-width: fit-content;
    padding: 16px 32px;
    border: 1px solid #e5e5e5;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.section-header-title {
    font-size: 28px;
    font-weight: 500px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.section-header-subtitle {
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #59595959;
}

.section-content {
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 64px 0 0 0;
}

/* Mobile phones */
@media screen and (max-width: 767px) {
    .section {
        padding: 24px 0;
    }

    .section-header {
        padding: 0 16px;
    }

    .section-header-content {
        padding: 12px 24px;
        gap: 12px;
    }

    .section-header-title {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.01em;
    }

    .section-header-subtitle {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4em;
    }

    .section-content {
        padding: 32px 0 0 0;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section-header {
        padding: 0 24px;
    }

    .section-header-title {
        font-size: 26px;
        line-height: 34px;
    }

    .section-header-subtitle {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.5em;
    }

    .section-content {
        padding: 48px 0 0 0;
    }
}
